.footer-blue{
  background-color: #12294C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 400px;
}
.footer-content{
  text-align: center;
  padding-top: 20px;
}

.footer-content > i{
  color: #EBD6AE;
  font-size: 40px;
  margin-bottom: 20px;
}

.footer-content > p {
  font-size: 10px;
}

.footer-content > #retrouvez-nous {
  font-size: 20px;
  font-weight: bold;
}

.footer-lower-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
}

.footer-lower-part > p {
  color: #12294C;
  font-size: 10px;
}

#footer-map{
  height: 30vh;
  aspect-ratio: 5 / 2;
}

.map-and-square{
  position: relative;
}

.golden-square{
  height: 10vh;
  aspect-ratio: 1;
  border: #EBD6AE 3px solid;
  position: absolute;
  top: -5vh;
  right: -5vh;
}

#footer-logo{
  margin-top: 20px;
  height: 40px;
  width: 40px;
}

.footer-list-item{
  color: #12294C;
  list-style: none;
  padding: 20px auto;
  font-size: 10px;
  width: 100px;
  text-align: center;
  margin: 10px;
}
