.sticky-nav{
  background-color: white;
  z-index: 2;
  position: sticky;
  top: 0px;
  padding: 20px;
}
.nav{
  justify-content: space-around;
}

.btn-nav > a {
  text-decoration: none;
  color: #13294C
}

.btn-nav > a:hover{
  color: #EBD6AE;
}

.nav > .current-menu-item > a{
  color: #EBD6AE ;
}
