.sticky-nav{
  background-color: white;
  z-index: 20;
  position: sticky;
  top: 0px;
}
.nav{
  justify-content: space-around;
  height: 13vh;
  padding: 20px;
}

.menu-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-nav > a {
  text-decoration: none;
  color: #13294C;
}

.btn-nav > a:hover{
  color: #EBD6AE;
}

.nav > .current-menu-item > a{
  color: #EBD6AE ;
}

.custom-navbar-logo{
  height: 100%;
  width: 15%;
  padding: 0;
}

.custom-navbar-logo > a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.custom-navbar-logo-active{
  background-color: #13294C;
}

#nav-blason, #nav-valentine{
  height: 50%;
}

#nav-valentine{
  margin-top: 5px;
}

#nav-blason{
  transition: all .3s ease;
}

.big-blason{
  transform: scale(2);
  transform-origin: top center;
}
